.Smurfs h1 {
    color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Smurf {
    margin: 20px auto;
    width: 30%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
}

.Smurf h3 {
    color: white;
    margin-top: 0;
    padding: 20px 0;
    background: rgb(135, 166, 223);
}

form {
    margin: 20px auto;
    width: 300px;
  }

input {
    border: 0;
    outline: none;
  }

.baseline,
input {
  background-color: #fff;
  font-size: 21px;
  height: 50px;
  width: 300px;
  padding: 0 8px;
  color: #2c95be;
}

.baseline {
  height: 3px;
  background-color: #a0a0a0;
}

.baseline {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: block;
    /*display: inline-block;*/
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0);
    /* vertical-align: middle;*/
  }
  .baseline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #305bb8;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .baseline:hover:before,
  .baseline:focus:before,
  .baseline:active:before {
    right: 0;
  }

  input:focus + .baseline:before {
    right: 0;
  }
  
  form button {
      font-size: 2rem;
      color: white;
      background: rgb(129, 185, 231);
      border: 1px solid rgb(20, 51, 138);
      border-radius: 1rem;
  }